/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
body {
    margin: 0;
    padding: 0;
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav */

nav {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    height: 80px;
    top: 0px;
    background: #FCFCFC;
    box-sizing: border-box;
}

.logo {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 48px;
}

/* catalog */

.catalog {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 72px;
}

/* blog post */

.post {
    width: 100%;
}

.post .cover-image {
    width: 100%;
    height: 160px;
    background-size: cover;
    margin-bottom: 8px;
}

.post .text .meta-data {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 8px;
}

.post .text h2 {
    font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    margin: 0 0 8px 0;
}

.post .text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #666666;
}

.post .featured .text {
    margin-left: 48px;
}

.post .featured h2 {
    font-family: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
}

/* cover images test */

.cover-image.one {
    background-image: url(../assets/ux-reading/cover-2.jpg);
}

.cover-image.two {
    background-image: url(../assets/ux-reading/cover.jpg);
}

.cover-image.three {
    background-image: url(../assets/ux-soil/cover-2.jpg);
}

.cover-image.four {
    background-image: url(../assets/ux-soil/cover.jpg);
}

.cover-image.five {
    background-image: url(../assets/ux-memory/sign.png);
}

.cover-image.six {
    background-image: url(https://images.unsplash.com/photo-1597484389225-c68a9f0fa106?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjM2MzIyfQ);
}

.cover-image.seven {
    background-image: url(../assets/ux-skin/cover-2.jpg);
}

.cover-image.eight {
    background-image: url(https://images.unsplash.com/photo-1594718200327-17b749e753e6?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjM2MzIyfQ);
}

.cover-image.nine {
    background-image: url(https://cdn.pixabay.com/photo/2012/07/19/02/29/braille-52554_1280.jpg);
}

.cover-image.ten {
    background-image: url(../assets/ux-sense/cover.jpg);
}

@media only screen and (min-width: 768px) {
    .catalog {
        max-width: 760px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 32px;
        row-gap: 72px;
    }
    .post .featured {
        grid-column: 1 / span 2;
        display: flex;
    }
}

@media only screen and (min-width: 992px) {
    .catalog {
        max-width: 960px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* featured blog post */
    .post .featured {
        grid-column: 1 / span 3;
    }
    .post .featured .cover-image {
        width: 455px;
        height: 250px;
        background-size: cover;
    }
}