/* typlog override */

.side_logo {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

h1.side_title {
    font-weight: 500;
}

h2.side_subtitle {
    font-size: 18px;
}

.side_subscribe button {
    font-size: 14px;
    font-weight: initial;
    border: 1px solid rgba(0, 0, 0, .86);
    border-radius: 6px;
    padding: 0 12px;
}

h1.side_title, .site-link {
    text-transform: none;
}

h1.p-name {
    font-size: 1.8em;
    line-height: 1.25;
}