/* typlog override */

.side_logo {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

h1.side_title {
    font-weight: 500;
}

h2.side_subtitle {
    font-size: 18px;
}

.side_subscribe button {
    font-size: 14px;
    font-weight: initial;
    border: 1px solid rgba(0, 0, 0, .86);
    border-radius: 6px;
    padding: 0 12px;
}

h1.side_title, .site-link {
    text-transform: none;
}

.site-link {
    font-weight: 700;
}

h1.p-name {
    line-height: 1.25;
    font-weight: 700;
}

.h-entry .e-content{
    line-height: 1.7;
}

.e-content>.footnotes, .e-content>.highlight, .e-content>.md-block, .e-content>p, .inner, .md-embed {
    max-width: 720px;
}
.md-photo, .md-embed.video{
    max-width: 960px;
}

.yue ul{
    list-style: disc;
}

.yue p{
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.e-content blockquote{
    font-family: "Roboto Slab", serif;
    font-size: 1.1em;
    margin: 2.4em 0.6em;
}
